<br><%= @event.title %><br>
<%= @event.description %><br>
<%= @event.address %><br>

<p> Reviews</p>
<%= link_to "Add Review", new_event_review_path(@event.id) %> <br>

<% @reviews.each do |review| %>
		<p>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> by <%= review.user.email %></em>
        Added on: <%= review.created_at %>
      
      <% end %>
    </p>
    <% end %>

<%= link_to "Back to Events", events_path %>